CMakeCache.txt
CMakeFiles/
CaffeConfig.cmake
CaffeTargets.cmake
__init__.py
build_cmake/
caffe_config.h
cmake/CaffeConfig.cmake
cmake_install.cmake
detect_cuda_archs.cu
docs/CMakeFiles/
docs/cmake_install.cmake
examples/CMakeFiles/
examples/cifar10/convert_cifar_data
examples/cmake_install.cmake
examples/cpp_classification/classification
examples/mnist/convert_mnist_data
examples/siamese/convert_mnist_siamese_data
matlab/CMakeFiles/
matlab/cmake_install.cmake
python/CMakeFiles/
python/cmake_install.cmake
src/caffe/CMakeFiles/
src/caffe/cmake_install.cmake
src/caffe/test/CMakeFiles/
src/caffe/test/cmake_install.cmake
src/gtest/CMakeFiles/
src/gtest/cmake_install.cmake
tools/CMakeFiles/
tools/caffe
tools/cmake_install.cmake
tools/compute_image_mean
tools/convert_imageset
tools/device_query
tools/extract_features
tools/finetune_net
tools/net_speed_benchmark
tools/test_net
tools/train_net
tools/upgrade_net_proto_binary
tools/upgrade_net_proto_text

## General
Makefile
# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

## Caffe

# User's build configuration
Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
data/*
models/*
*.caffemodel
*.solverstate
*.binaryproto
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev

# LevelDB files
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*
